# Loading the Libraries

In [1]:
import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [2]:
pd.set_option("display.max_colwidth", None)

C:\Users\manum\anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

# Reading the Dataset

In [3]:
baskets = pd.read_csv("TOGETHER DUMMIES.csv")

baskets.head()

C:\Users\manum\anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

,Unnamed: 0,invoice_id,brand_MAN 1 - BRAND 1,brand_MAN 1 - BRAND 2,brand_MAN 1 - OTHER BRANDS,brand_MAN 2 - BRAND 1,brand_MAN 2 - BRAND 2,brand_MAN 2 - BRAND 3,brand_MAN 2 - BRAND 4,brand_MAN 2 - BRAND 5,...,segment_CELIACS,segment_EXTRA,segment_FLAVOURED,segment_IMPORT PREMIUM,segment_IMPORT SPECIAL,segment_NATIONAL,segment_WITHOUT ALCOHOL,segment_ZERO ALCOHOL,canal_code_1,canal_code_2
0,0,1-1,1,0,0,1,1,1,0,1,...,1,1,1,1,1,1,1,1,1,0
1,1,1-10,1,0,0,1,1,1,1,1,...,0,1,1,1,1,1,1,1,1,0
2,2,1-11,1,0,0,1,1,1,0,0,...,0,1,1,1,0,1,1,1,1,0
3,3,1-12,1,0,0,1,1,1,1,1,...,0,1,1,1,1,1,1,1,1,0
4,4,1-13,1,0,0,1,1,1,1,1,...,0,1,1,1,1,1,1,1,1,0

In [4]:
baskets = baskets.drop(['Unnamed: 0'], axis = 1)
baskets = baskets.set_index('invoice_id')

C:\Users\manum\anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

# Run the Apriori Algorithm

In [5]:
itemsets = apriori(baskets, use_colnames=True, verbose=1, low_memory=False, min_support=0.88)

itemsets.head()

C:\Users\manum\anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)
C:\Users\manum\anaconda3\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:111: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

Processing 132 combinations | Sampling itemset size 121

    support                      itemsets
0  0.976179       (brand_MAN 1 - BRAND 1)
1  0.937680       (brand_MAN 2 - BRAND 1)
2  0.973894       (brand_MAN 2 - BRAND 2)
3  0.968115       (brand_MAN 2 - BRAND 3)
4  0.933988  (brand_MAN 2 - OTHER BRANDS)

# Examining the Frequent Itemsets

In [6]:
itemsets['length'] = itemsets['itemsets'].apply(lambda x: len(x))
itemsets.head()

C:\Users\manum\anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

    support                      itemsets  length
0  0.976179       (brand_MAN 1 - BRAND 1)       1
1  0.937680       (brand_MAN 2 - BRAND 1)       1
2  0.973894       (brand_MAN 2 - BRAND 2)       1
3  0.968115       (brand_MAN 2 - BRAND 3)       1
4  0.933988  (brand_MAN 2 - OTHER BRANDS)       1

In [7]:
itemsets['length'].value_counts()

C:\Users\manum\anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

6     4916
7     4766
5     3627
8     3263
4     1889
9     1519
3      668
10     451
2      150
11      77
1       19
12       6
Name: length, dtype: int64

# Calculate the Association Rules

## Showing only the Head

In [8]:
rules = association_rules(itemsets, metric="lift", min_threshold=0.5)
rules.head().sort_values(by='confidence', ascending = False)

C:\Users\manum\anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
4,(brand_MAN 2 - BRAND 3),(brand_MAN 1 - BRAND 1),0.968115,0.976179,0.953677,0.985087,1.009125,0.008624,1.597316
0,(brand_MAN 2 - BRAND 1),(brand_MAN 1 - BRAND 1),0.937680,0.976179,0.919727,0.980854,1.004788,0.004383,1.244119
2,(brand_MAN 2 - BRAND 2),(brand_MAN 1 - BRAND 1),0.973894,0.976179,0.954161,0.979738,1.003645,0.003465,1.175614
3,(brand_MAN 1 - BRAND 1),(brand_MAN 2 - BRAND 2),0.976179,0.973894,0.954161,0.977444,1.003645,0.003465,1.157386
1,(brand_MAN 1 - BRAND 1),(brand_MAN 2 - BRAND 1),0.976179,0.937680,0.919727,0.942170,1.004788,0.004383,1.077635

## Showing all the Table

In [14]:
rules = association_rules(itemsets, metric="lift", min_threshold=0.5)
rules.sort_values(by='confidence', ascending = False).head()

C:\Users\manum\anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
1287951,"(brand_MAN 3 - BRAND 3, segment_EXTRA, packaging_CAN, brand_MAN 2 - BRAND 2, brand_MAN 1 - BRAND 1, segment_FLAVOURED, segment_WITHOUT ALCOHOL)",(segment_NATIONAL),0.880458,0.999341,0.880458,1.0,1.000660,0.000580,inf
90487,"(brand_MAN 2 - BRAND 2, segment_IMPORT PREMIUM, segment_ZERO ALCOHOL, brand_MAN 3 - BRAND 1)",(packaging_CAN),0.887314,0.999517,0.887314,1.0,1.000484,0.000429,inf
1037335,"(packaging_CAN, brand_MAN 3 - BRAND 4, segment_IMPORT PREMIUM, segment_FLAVOURED, segment_WITHOUT ALCOHOL)","(segment_NATIONAL, packaging_CRISTAL BOTTLE)",0.934603,0.999165,0.934603,1.0,1.000836,0.000780,inf
890652,"(brand_MAN 3 - BRAND 3, segment_ZERO ALCOHOL, brand_MAN 3 - BRAND 4, brand_MAN 2 - BRAND 2, segment_NATIONAL, segment_WITHOUT ALCOHOL)",(packaging_CRISTAL BOTTLE),0.896324,0.999604,0.896324,1.0,1.000396,0.000355,inf
2190413,"(segment_EXTRA, segment_ZERO ALCOHOL, brand_MAN 3 - BRAND 4, segment_IMPORT PREMIUM, brand_MAN 2 - BRAND 2, brand_MAN 1 - BRAND 1, segment_NATIONAL)","(packaging_CRISTAL BOTTLE, packaging_CAN)",0.948645,0.999121,0.948645,1.0,1.000880,0.000834,inf