# Loading the Libraries

In [1]:
import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

# Reading the Dataset

In [2]:
baskets = pd.read_csv("BRAND DUMMIES.csv")

baskets.head()

C:\Users\manum\anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

,Unnamed: 0,invoice_id,brand_MAN 1 - BRAND 1,brand_MAN 1 - BRAND 2,brand_MAN 1 - OTHER BRANDS,brand_MAN 2 - BRAND 1,brand_MAN 2 - BRAND 2,brand_MAN 2 - BRAND 3,brand_MAN 2 - BRAND 4,brand_MAN 2 - BRAND 5,...,brand_MAN 3 - BRAND 3,brand_MAN 3 - BRAND 4,brand_MAN 3 - BRAND 5,brand_MAN 3 - OTHER BRANDS,brand_MAN 4 - BRAND 1,brand_MAN 5 - BRAND 1,brand_MAN 5 - BRAND 2,brand_MAN 5 - OTHER BRANDS,brand_MAN 6 - BRAND 1,brand_OTHER MAN - OTHER BRANDS
0,0,1-1,1,0,0,1,1,1,0,1,...,1,1,0,1,0,0,0,0,1,1
1,1,1-10,1,0,0,1,1,1,1,1,...,1,1,0,1,0,0,1,0,1,1
2,2,1-11,1,0,0,1,1,1,0,0,...,1,1,0,1,0,0,1,0,1,1
3,3,1-12,1,0,0,1,1,1,1,1,...,1,1,0,1,0,0,1,0,1,1
4,4,1-13,1,0,0,1,1,1,1,1,...,1,1,0,1,0,0,1,0,1,1

In [3]:
baskets = baskets.drop(['Unnamed: 0'], axis = 1)
baskets = baskets.set_index('invoice_id')

C:\Users\manum\anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

# Run the Apriori Algorithm

In [4]:
itemsets = apriori(baskets, use_colnames=True, verbose=1, low_memory=False, min_support=0.4)

itemsets.head()

C:\Users\manum\anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)
C:\Users\manum\anaconda3\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:111: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

Processing 28 combinations | Sampling itemset size 14321

    support                      itemsets
0  0.976179       (brand_MAN 1 - BRAND 1)
1  0.639045  (brand_MAN 1 - OTHER BRANDS)
2  0.937680       (brand_MAN 2 - BRAND 1)
3  0.973894       (brand_MAN 2 - BRAND 2)
4  0.968115       (brand_MAN 2 - BRAND 3)

# Examining the Frequent Itemsets

In [5]:
itemsets['length'] = itemsets['itemsets'].apply(lambda x: len(x))
itemsets.head()

C:\Users\manum\anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

    support                      itemsets  length
0  0.976179       (brand_MAN 1 - BRAND 1)       1
1  0.639045  (brand_MAN 1 - OTHER BRANDS)       1
2  0.937680       (brand_MAN 2 - BRAND 1)       1
3  0.973894       (brand_MAN 2 - BRAND 2)       1
4  0.968115       (brand_MAN 2 - BRAND 3)       1

In [6]:
itemsets['length'].value_counts()

C:\Users\manum\anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

7     8924
8     8574
6     6938
9     6060
5     4057
10    3083
4     1766
11    1088
3      556
12     247
2      120
13      29
1       16
14       1
Name: length, dtype: int64

# Calculate the Association Rules

In [7]:
rules = association_rules(itemsets, metric="lift", min_threshold=0.5)
rules.head().sort_values(by='confidence', ascending = False)

C:\Users\manum\anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(brand_MAN 1 - OTHER BRANDS),(brand_MAN 1 - BRAND 1),0.639045,0.976179,0.635133,0.993879,1.018132,0.011311,3.891709
2,(brand_MAN 2 - BRAND 1),(brand_MAN 1 - BRAND 1),0.937680,0.976179,0.919727,0.980854,1.004788,0.004383,1.244119
4,(brand_MAN 2 - BRAND 2),(brand_MAN 1 - BRAND 1),0.973894,0.976179,0.954161,0.979738,1.003645,0.003465,1.175614
3,(brand_MAN 1 - BRAND 1),(brand_MAN 2 - BRAND 1),0.976179,0.937680,0.919727,0.942170,1.004788,0.004383,1.077635
1,(brand_MAN 1 - BRAND 1),(brand_MAN 1 - OTHER BRANDS),0.976179,0.639045,0.635133,0.650631,1.018132,0.011311,1.033165